In [4]:
%load_ext autoreload
%autoreload 2

from openaq_anomaly_prediction.config import Configuration as config
from openaq_anomaly_prediction.utils.logging import logger
# from openaq_anomaly_prediction.load.openaq import OpenAQ_Client

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
# data/aws/location-235-20250821.csv

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [10]:
os.path.join(config.DATA_PATH, "location-235-20250821.csv")

'/home/deniscck/code/denis-cck/openaq_anomaly_prediction/data/location-235-20250821.csv'

In [12]:
df = pd.read_csv(os.path.join(config.DATA_PATH, "aws/location-235-20250821.csv"))
df.head()

,location_id,sensors_id,location,datetime,lat,lon,parameter,units,value
0,235,12235609,"Anand Vihar, New Delhi - DPCC-3379575",2025-08-21T00:45:00+05:30,28.646835,77.316032,pm10,µg/m³,196.0
1,235,12235609,"Anand Vihar, New Delhi - DPCC-3379575",2025-08-21T01:00:00+05:30,28.646835,77.316032,pm10,µg/m³,114.0
2,235,12235609,"Anand Vihar, New Delhi - DPCC-3379575",2025-08-21T01:15:00+05:30,28.646835,77.316032,pm10,µg/m³,114.0
3,235,12235609,"Anand Vihar, New Delhi - DPCC-3379575",2025-08-21T01:30:00+05:30,28.646835,77.316032,pm10,µg/m³,114.0
4,235,12235609,"Anand Vihar, New Delhi - DPCC-3379575",2025-08-21T01:45:00+05:30,28.646835,77.316032,pm10,µg/m³,114.0

In [15]:
from datetime import datetime as dt

# Create new columns with proper datetime objects
df_aws = df.copy()
df_aws["datetime"] = pd.to_datetime(df_aws["datetime"])

df_aws["datetime_str"] = df_aws["datetime"].dt.strftime('%Y-%m-%d %H:%M:%S')

df_aws.head()

# Filter measurements for a specific date (e.g., 2016-11-03)
# date_mask = df_measurements["datetimeFrom_local"].dt.date == pd.to_datetime("2016-11-03").date()
# ddf_measurements_filtered= df_measurements[date_mask][["location_id", "sensor_id", "parameter.id", "datetimeFrom_local", "datetimeTo_local", "period.interval", "value"]]
# ddf_measurements_filtered

# df_measurements[date_mask]
# df_measurements["datetimeFrom_utc_str"] = df_measurements.dt.strftime('%Y-%m-%d %H:%M:%S')

,location_id,sensors_id,location,datetime,lat,lon,parameter,units,value,datetime_str
0,235,12235609,"Anand Vihar, New Delhi - DPCC-3379575",2025-08-21 00:45:00+05:30,28.646835,77.316032,pm10,µg/m³,196.0,2025-08-21 00:45:00
1,235,12235609,"Anand Vihar, New Delhi - DPCC-3379575",2025-08-21 01:00:00+05:30,28.646835,77.316032,pm10,µg/m³,114.0,2025-08-21 01:00:00
2,235,12235609,"Anand Vihar, New Delhi - DPCC-3379575",2025-08-21 01:15:00+05:30,28.646835,77.316032,pm10,µg/m³,114.0,2025-08-21 01:15:00
3,235,12235609,"Anand Vihar, New Delhi - DPCC-3379575",2025-08-21 01:30:00+05:30,28.646835,77.316032,pm10,µg/m³,114.0,2025-08-21 01:30:00
4,235,12235609,"Anand Vihar, New Delhi - DPCC-3379575",2025-08-21 01:45:00+05:30,28.646835,77.316032,pm10,µg/m³,114.0,2025-08-21 01:45:00